import(jeksterslabRdist)
import(jeksterslabRdoc)
import(jeksterslabRds)
import(jeksterslabRlib)
import(jeksterslabRnotes)
import(jeksterslabRpkg)
import(jeksterslabRterm)
import(jeksterslabRutils)
import(jeksterslabRlinreg)
import(jeksterslabRmatrix)
import(jeksterslabRsem)